/* Feuille de style pour toutes les pages */

html {
	width: 100vw;
	background-color: lightblue;
	overflow-x: hidden;
	margin: 0;
	font-family: "Poppins";
}


body {
	margin: 0 1em;
	background-color: lightblue;
}

@font-face {
	font-family: Poppins;
	src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}

h1 {
	text-align: center;
	font-size: 3em;
	
}

h2 {
	text-align: center;
	font-size: 2.5em;
	text-decoration: underline;
}

p,
a,
h1,
h2,
button {
	font-family: 'Poppins';
}

p,a,button {
	font-size: 1.7em;
}

/* Google fonts: icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* Home button */

.homebtn {
	position: fixed;
	margin: .5em;
	text-decoration: none;
	color: black;
	font-size: 2em;
}

#homebtn {
	font-size: 1.7em;
}

.homebtn {
	transition: .3s;
}

.homebtn:hover {
	transform: scale(1.5) rotate(-180deg);
	transition: .3s;
}

/* Insertingdiv */

.insParent {
	width: 100vw;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

#inserting {
	width: 1000vw;
	margin: 20px 0;
	display: flex;
	/* justify-content: space-around; */
	overflow-x: scroll;
	scroll-behavior: smooth;

}

/* Ceci permet de cacher la barre de défilement */
#inserting,
.insParent {
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

#inserting::-webkit-scrollbar,
.insParent::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

#inserting>div {
	width: 90vw;
	margin: 0 5vw;
	display: flex;
	align-items: center;
	height: 2em;
}

/* Score styling */

#score {
	font-family: "Poppins";
	font-size: 50px;
}

#score.vbad {
	color: red;
}

#score.bad {
	color: rgb(82, 76, 76);
}

#score.good {
	color: #37692c;
}

#score.vgood {
	color: #39f60f;
}

/* Reste */

.katex-question {
	font-size: 2em;
	width: 10em;
}

.answers {
	width: 8em;
}

.hide {
	display: none;
}