table {
    font-size: 21px; /*la taille de police*/
}
  
caption {

    padding: 20px; /* la marge à la fin*/
    font-weight: bold; /* gras */
    text-decoration: underline; /* souligné */
}
  
thead{
    background-color: rgb(20, 149, 204); /*couleur du head*/
}

th,td {
  border: 1px solid rgb(160, 160, 160); /* couleur des interlignes */
  padding: 6px 8px;
}

tbody > tr:nth-of-type(even) { /* trouvé sur internet*/
  background-color: rgb(237 238 242); /* couleur de la case sur les cases paires*/
}


