/* Feuille de style pour toutes les pages */

html,
body {
	width: 100vw;
	background-color: lightblue;
	overflow: hidden;
}

h1 {
	text-align: center;
	font-size: 2.5em;

}

h2 {
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
}

#inserting {
	width: 100vw;
	margin: 20px;
	display: flex;
	justify-content: space-between;
	overflow-x: scroll;

}

/* Ceci permet de cacher la barre de défilement */
#inserting {
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

.container::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

#inserting>div {
	width: 100vw;
	display: flex;
	justify-content: space-between;

}

#score {
	font-family: helvetica;
	font-size: 50px;
}

#score.vbad {
	color: red;
}

#score.bad {
	color: rgb(82, 76, 76);
}

#score.good {
	color: #37692c;
}

#score.vgood {
	color: #39f60f;
}

.katex-question {
	font-size: 1em;
	width: 4em;
}

.answers {
	width: 8em;
}
