/* Feuille de style pour toutes les pages */

html, body {
	width: 100vw;
	background-color: lightblue;
}

h1 {
	text-align: center;
	font-size: 2.5em;

}

h2 {
	text-align: center;
	font-size : 2em;
	text-decoration: underline;
}

#inserting {
	width: max-content;
	margin: 20px;
}

#inserting > div {
	width: 100%;
	display: flex;
	justify-content:space-between;
	
}

#score {
    font-family : helvetica;
    font-size : 50px;
}

#score.vbad {
	color : red;
}

#score.bad{
	color : rgb(82, 76, 76);
}

#score.good{
	color: #37692c;
}

#score.vgood{
	color: #39f60f;
}